* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.link {
    margin: 44px 0 144px 65px;
}

.link-header {
    margin-left: 23px;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    font-style: normal;
    color: #989D9C;
    width: 108px;
    height: 29px;
    cursor: pointer;

}

.entra {
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    background: #665AE1;
    border-radius: 20.5px;
    border: none;
    width: 125px;
    height: 31px;
    margin-left: 45px;
    color: #FFFFFF;
    cursor: pointer;

}

div {
    text-align: center;
    margin-left: 86px;
    margin-top: -777px;

}

h1 {
    font-weight: 900;
    margin-left: 254px;
    font-style: normal;
    font-size: 100px;
    line-height: 122px;
    color: #515151;

}

h3 {
    font-weight: 500;
    font-size: 58px;
    font-style: italic;
    line-height: 71px;
    margin-left: 250px;
    color: #515151;
}

p {
    text-align: center;
    font-weight: 400;
    font-size: 34px;
    line-height: 29px;
    margin-left: 1230px;
    color: #848484;
    width: 515px;
    height: 87px;

}

button {
    margin-top: 70px;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    background: #ADFF00;
    border-radius: 29.9px;
    box-shadow: 1px 1px 1px ;
    border: none;
    color: #000000;
    Width: 239px;
    Height: 64px;
    cursor: pointer;


}

img {
    margin-left: 59px;
    width: 951px;
    height: 822px;
}

